@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';

@import './components/Info/info.scss';
@import './components/BasicElement/basic-element.scss';
@import './components/HighlightsElement/highlights-element.scss';
@import './components/PageHeader/page-header.scss';

@import './content/LandingPage/landing-page.scss';
@import './content/ContributingPage/contributing-page.scss';

@import './content/Delhi/delhi.scss';
@import './content/WestBengal/west-bengal.scss';
@import './content/TamilNadu/tamil-nadu.scss';
