.contributing-card {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xxx-large;
}

.contributing-card-inner {
  width: 100%;
  height: 200px;
}

.resource-card-inner {
  width: 100%;
  margin-bottom: 20px;
}

.bx--data-table--short .bx--table-header-label {
  width: max-content;
}
